.capturePoseContainer {
  padding-top: 50px;
}

.debugContainer {
  display: flex;
  justify-content: space-evenly;
}

.label {
  text-align: center;
}

.videoButtonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.video {
  display: block;
  transform: scaleX(-1);
  margin: 40px auto;
}

.canvas {
  display: none;
  margin: 40px auto;
  max-width: 640px;
  width: 100%;
  /* transform: scaleX(-1); */
}

.notRecording {
  border-radius: 20px;
}

.videoRecording {
  border-radius: 20px;
  box-shadow: 0px 0px 0px 7px red;
  transition: box-shadow 0.6s linear;
  animation: recording 1s ease-in-out infinite;
}

.poseContainer {
  position: relative;
}

.poseStatus {
  position: absolute;
  top: 20%;
  right: 20%;
  height: 30px;
  width: 30px;
  text-align: center;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.5);
}

.pose {
  margin: 10px;
  border: solid 3px black;
}

.pose:hover {
  border: solid 3px blue;
  cursor: pointer;
}

@keyframes recording {
  0% {
    box-shadow: 0px 0px 0px 7px red;
  }

  50% {
    box-shadow: 0px 0px 0px 15px red;
  }

  100% {
    box-shadow: 0px 0px 0px 5px red;
  }
}

.recordedPosesContainer {
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      #f45342,
      rgba(0, 0, 0, 0)
    )
    1;
  margin-bottom: 20px;
}

.videoControl {
  margin: 0 20px;
}
.spacer {
  padding-bottom: 15px;
}

.poseTagContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: solid #f45342 5px;
  text-align: center;
  justify-content: space-evenly;
}

.poseTagHeader {
  font-size: 2rem;
  font-style: bold;
  text-decoration: underline;
}

.poseTagCategory {
  font-size: 1.5rem;
}

.poseTagRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tagButtonSelected {
  box-shadow: 0 0 7px 7px red !important;
  
}
